
*{
   box-sizing:border-box;
    
    
}


#webpageContainer{
    display:flex;
    justify-content:center
}


#buttonContainer{
    display:flex;
    justify-content:center;
    margin:20px
}
.squareDiv{
    border: 1px solid black;
  aspect-ratio: 1;
}

#container{
    height:400px;
    width:400px;
    display:flex;
    flex-wrap:wrap;
    
    }

