
*{
    box-sizing:border-box;
}

.squareDiv{
   
    width:25px;
    height:25px;
    border:1px solid black;
    margin:0;
    gap:0px

}

#container{
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
   
}

